@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDoList[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (ToDoManager.Data.ToDo toDo in Model.ToDoList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => toDo.Name)
                    @Html.DisplayFor(modelItem => toDo.WhatToDo)
                    @Html.DisplayFor(modelItem => toDo.IsCompleted)
                    @Html.DisplayFor(modelItem => toDo.DateCreated)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@toDo.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@toDo.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@toDo.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
